In [24]:
#Add the Pandas dependency
import pandas as pd

In [25]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [26]:
#Read the school data file and store it in a Pandas Dataframe.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [27]:
#Read the student data file and store it in a Pandas Dataframe.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [28]:
#Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [29]:
#Determine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [30]:
#Determine if there are any missing values in the school data.
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [63]:
#Determine if there are any missing values in the student data.
#student_data_df.isnull().sum()

In [62]:
#Determine if there are not any missing values in the school data.
#school_data_df.notnull()

In [61]:
#Determine if there are any missing values in the school data.
#school_data_df.isnull()

In [60]:
#Determine if there are not any missing values in the student data.
#student_data_df.notnull().sum()

In [59]:
#Put the student names in a list
#student_names = student_data_df["student_name"].tolist()
#student_names

In [58]:
#for name in student_names:
#    print(name.split(), len(name.split()))

In [37]:
#Create a new list and use it for the for loop to iterate through the list
students_to_fix = []

#Use an if statement to check the length of the name
#If the name is greater than or equal to "3", add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)

#Get the length of the student whose name are greter than or equal to "3"
len(students_to_fix)

1531

In [57]:
#print(students_to_fix)

In [56]:
# Add the prefixes less than or equal to 4 to a new list.
prefixes = []

for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])
        
#print(prefixes)

In [13]:
len(name.split()[0])

7

In [55]:
#Add the suffixes less than or equal to 3 to a new list
suffixes = []

for name in students_to_fix:
    if len(name.split()[-1]) <=3:
        suffixes.append(name.split()[-1])
        
#print(suffixes)

In [54]:
#set(prefixes)

In [53]:
#set(suffixes)

In [52]:
#Strip "Mrs." from the student names

#for name in students_to_fix:
#    print(name.strip("Mrs."))

In [21]:
#Replace "Dr." with an empty string.

name = "Dr. Linda Santiago"
name.replace("Dr.","")

' Linda Santiago'

In [50]:
#Add each prefix and suffix to remove to a list
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", "MD", "DDS"]

for word in prefixes_suffixes:
     student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
        
#print(student_data_df)

In [51]:
student_names = student_data_df["student_name"].tolist()

#student_names

In [48]:
# Create a new list and use it for loop to iterate through the list
student_fixed = []

#Use an if statement to check the length of the name

#If the name is greater than or equal to 3, add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        student_fixed.append(name)

#Get the length of the students' names that are greater than or equal to 3.
len(student_fixed)

374

In [65]:
#print(student_fixed)